.answer{

    display:flex;
    flex-direction: column;
   
  
    
    justify-items:center;

    height:fit-content;
    width:40vw;
    background-color:#AA5FEC;

    margin-bottom:-40px;
    padding:40px;
   margin-left:auto;
   margin-right:auto;
   margin-top:15vh;

   border-radius:5px;
   color:white;


}

.answer__profile{
    display:flex;
    flex-direction: row;
}

.answer__profile > img{

    height:30px;
    width:30px;
   border-radius: 30px;
   margin:5px;
}

.answer__profile > h5{

    margin-top:10px;

 
}

.answer__content{

    margin-top:20px;
    margin-left:8px;
}

.menu{

    display:none;
    margin-left:-1000px;
}


@media (max-width:900px)
{

    .answer{

        width:70vw;
    }
}